table{
    font: 20px Calibri;
}
table, th, td{
    border-collapse: collapse;
    border: 1px dashed white;
    font-weight: normal;
}
tr:nth-child(n+2):nth-child(-n+4){
    background: yellow;
}
tr:nth-child(n+5):nth-child(-n+7){
    background: #6fb873;
}
tr:nth-child(n+8):nth-child(-n+10){
    background: rgba(188, 128, 94, 0.69);
}
tr:nth-child(n+11):nth-child(-n+13){
    background: #6a91cc;
}
tr:nth-child(14){
    background: #f599c0;
}
tr:nth-child(15){
    background: #f258a0;
}
tr:nth-child(n+2) th{
    text-transform: uppercase;
    text-align: left;
}
tr td:last-child{
    text-align: center;
}
tr:first-child th:nth-child(n+1):nth-child(-n+2){
    border-right: 1px dashed grey;
}
tr:nth-child(8) th:nth-child(1){
    background-color: white;
}
.vertical-text{
    text-align: center;
    position: relative;
    transform: rotate(-90deg);
}
